.sleeperWrap {
  .perspective(600px);
  .sleeper {

    width: 100%;
    height: @sleeperHeight;
    position: relative;

    .transform-style(preserve-3d);
    .transform(rotateX(0deg));
    .transform-origin(center, center, -@sleeperHeight/2);
    .transition-transform(1s);

    &.showBottom {
      .transform(rotateX(90deg));
    }

    .sleeperFace {
      width: inherit;
      height: inherit;
      position: absolute;
      background-color: @color3;
      border: 1px solid @color4;
      text-align: center;
      overflow: hidden;
      padding: 25px;
      overflow: hidden;

      &.faceBottom {
        .transform(rotateX(-90deg) translate3d(0, @sleeperHeight/2, @sleeperHeight/2));
        padding: 0;
      }
    }
  }
}


@media screen and (max-width: @oneRowBrakepoint){
  .sleeper {
    max-width: 280px;
    margin: 0 auto 25px;
  }
}