

.sleeperWrap {
  @height: 280px;
  .perspective(600px);
  .transform(scale(0.7));

  .sleeper {

    width: 100%;
    height: @height;
    position: relative;

    .transform-style(preserve-3d);
    .transform(rotateX(0deg));
    .transition(all 1s);

    &.showBottom {
      .transform(rotateX(90deg));
    }

    .sleeperFace {
      width: inherit;
      height: inherit;
      position: absolute;
      background-color: @color3;
      border: 1px solid @color4;
      text-align: center;
      overflow: hidden;
      padding: 25px;
      overflow: hidden;

      &.faceFront {
        .transform(translate3d(0, 0, @height/2));
      }

      &.faceBottom {
        .transform(rotateX(-90deg) translate3d(0, 0, @height/2));
      }
    }
  }
}


@media screen and (max-width: @oneRowBrakepoint){
  .sleeper {
    max-width: 280px;
    margin: 0 auto 25px;
  }
}